/*
Theme Name: Beaver Builder Child Theme
Theme URI: http://www.wpbeaverbuilder.com
Version: 1.0F
Description: An example child theme that can be used as a starting point for custom development.
Author: The Beaver Builder Team
Author URI: http://www.fastlinemedia.com
template: bb-theme
*/

/*------------------TOP BAR STYLES ------------------*/
.open_sidebar .fl-button-text{
  color: #fff !important;
}


.mob_link {
	padding-left: 15%!important;
}
	#responsive-menu-additional-content .phone a span{
		color: #fff!important;
		line-height: 40px;
}
#responsive-menu-additional-content{
		 padding: 10px 25px!important;
}
#responsive-menu-search-box{
	padding: 15px 5%!important;
}

#responsive-menu-additional-content{
	padding: 0 5%!important;
}
#breadcrumbs > div > span{
	font-weight: 600!important;
}


ul#topbar {
  margin: 0;
  padding: 0;
  overflow: hidden;
 
}

ul#topbar li {
  float: left;
  list-style-type: none;
}

ul#topbar li a {
  color: #fff;
  text-align: center;
  padding: 20px;
  text-decoration: none;
}
ul#topbar li a:hover,
.fl-page-bar a:hover *{
  color: #fff;
}

.fl-page-header-primary .fl-logo-img{
max-width: 100%;
}


.product-grid .fl-button{
  background-color: #a4774f !important;
  border: 1px solid #a4774f !important;
}
.product-grid .fl-button span{
  color: #ffffff !important;
}
.product-grid .fl-button:hover{
  background-color: transparent !important;
}
.product-grid .fl-button:hover span{
  color: #a4774f !important;
}

.gform_wrapper ul.gform_fields li.gfield .gfield_time_ampm select{
  width: 60px!important;
  max-width: 60px!important;
}

.gform_wrapper .gfield_time_hour i{
  margin-top: -2px!important;
}


.product-grid .fl-button{
  background-color: #a4774f !important;
  border: 1px solid #a4774f !important;
}

.product-grid .fl-button span,
.facet-wrap ~ .close_sidebar_button a.fl-button.close_sidebar span{
  color: #ffffff !important;
}


.product-grid .fl-button:hover{
  background-color: transparent !important;
}


.product-grid .fl-button:hover span{
  color: #a4774f !important;
}

form select{
  padding: 6px 0px !important;
}
.gform_wrapper .gfield_time_hour {
  max-width: calc(6rem + .5rem) !important;
}
.gform_wrapper .gfield_time_minute {
    max-width: 6rem !important;
}

.gform_wrapper ul.gfield_checkbox li input[type=checkbox],.gform_wrapper ul.gfield_radio li input[type=radio]{
  margin-top: 0px!important;
  vertical-align: top!important;
}

.uabb-gf-style .gform_wrapper .gfield_checkbox li label, .uabb-gf-style .gform_wrapper .gfield_radio li label{
  vertical-align: top;
}

.gform_body input:not([type='radio']):not([type='checkbox']):not([type='submit']):not([type='button']):not([type='image']):not([type='file']){
  width: 100%;
}

/* .uabb-gf-style .gform_wrapper ul.gform_fields li.gfield:not( .gf_left_half):not(.gf_left_third):not(.gf_middle_third){
  padding-right: 15px;
} */
#responsive-menu-button{
	width: 40px!important;
    height: 40px!important;
}
.str_hrs .store-opening-hrs{
	padding-left: 0px!important;
}

.gfield input[type=text]{
	width: 100%!important;
}
/*------------------END TOP BAR STYLES ------------------*/
@media(min-width:992px) and (max-width:1100px){
  .style-product_list .pro-container> .row> .col-md-7{
      flex: 0 0 57.33333%;
      width: 57.33333%;
  }   
  .style-product_list .pro-container> .row> .col-md-5{
      flex: 0 0 41.6666%;
      width: 41.6666%;
  }
  .style-product_list .pro-container .pro-details .button-wrapper a.button {
      min-width: auto;
      width: auto;
  }
}

@media only screen and (min-device-width: 1022px) and (max-device-width: 1024px) {
	      .style-product_list .pro-container .row .col-md-7{
			    width: 100%!important;
   				height: 400px;
		}
	.style-product_list .pro-container>.row {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0;
}
@media (max-width:1024px) {
	.style-product_list .pro-container > .row .main-image{
    height: 400px!important;
}
.style-product_list .pro-container > .row > .col-md-5 {
    clear: left!important;
    width: 100%!important;
}
  ul#topbar li a{
    font-size: 11px;
    padding: 5px;
  }
  .none-1024{
    display: none;
  }
  .none-1024 ~ div.fl-col-small{
    width: 100%;
  }

  .fl-page-nav .navbar-nav li>a{
      padding: 15px 8px;
      font-size: 13px;
  }
}

@media (max-width:992px) {
  ul#topbar > li:last-child{
    display: block!important;
  }
  .social-icons-container{
    text-align: center;
  }
  .fl-button span.fl-button-text{
    color: #fff !important;
  }

  .uabb-gf-style .gform_wrapper .gform_footer input[type=submit]{
    width: auto!important;
    color: #fff;
  }
}
@media (max-width: 991px){
.style-product_list .pro-container .pro-roomscene .main-image > img {
    height: 100%!important;
    width: 100%!important;
} 	
}	
@media (max-width:768.5px){
	.max-width-issue{
	max-width: 360px!important;
	margin: 0 auto!important;
}	
}
@media (max-width:768px){
.max-width-issue{
	max-width: 360px!important;
	margin: 0 auto!important;
}	
	#menu-copyright-bar-menu a{
	padding: 6px 10px!important;
		
}
.gform_footer,
li#field_3_2,
li#field_3_1{
  padding-right: 16px;
}
.gform_wrapper li#field_5_3,
.gform_wrapper li#field_5_9,
.gform_wrapper li#field_5_10{
  padding-right: 0px !important;
}
.fl-builder-content .fl-module-menu  ul.menu > li{
  padding-bottom: 10px !important;
  display: block !important;
}
.uabb-gf-style .gform_wrapper ul.gform_fields li.gfield:not( .gf_left_half):not(.gf_left_third):not(.gf_middle_third){
  padding-right: 0px !important;
}

.fl-module-menu .menu a,
#field_5_8 input{
	    padding: 15px 10px!important;
}	
.facetwp-per-page .facetwp-per-page-select{
	background: #fff!important;
    color: #000!important;
}

#menu-copyright-bar-menu > li{
  display: block;
  padding-bottom: 5px !important;
}
}
@media(max-width:767px){
  .fl-page-bar .fl-page-bar-row .text-left{
    width: 60%;
    float: left;
  }

  .fl-page-bar .fl-page-bar-row .text-right{
    width: 40%;
    float: right;
  }

  .fl-page-bar .fl-page-bar-row .text-left *{
    text-align: left!important;
  }

  ul#topbar > li:last-child{
    float: right!important;
  }

 .fl-module-heading h1.fl-heading{
    line-height: 48px!important;
  }
}

@media(max-width:450px){
.gfield input[type=radio]{
	margin-top: 4px!important;
}
.gfield input[type=text]{
	width: 100%!important;
}
#field_5_13, #field_6_13 ,#field_3_10 {
	padding-right: 0px!important;
}

.gfield{
	padding-right: 15px!important;
}
	#field_5_8 input{
	padding: 10px!important;

}
	#field_5_8 select{
		height: 50px!important;
	min-width: 60px!important;
    width: 60px!important;
}
  .fl-page-bar .fl-page-bar-row .text-left{
    width: 66%;
    float: left;
    padding: 0px;
  }

  .fl-page-bar .fl-page-bar-row .text-right{
    width: 34%;
    float: right;
    padding: 0px;
  }
  .fl-col-group .boxes-on-mobile-full-width{
    width: 100%!important;
  }
  footer .fl-col-group .boxes-on-mobile-full-width{
    width: 100%!important;
  }
 
}